.header {
  height: 80px;
  margin-top: 10px;
  border: 1px solid black;
  color: #2a004e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d4bee4;
}
.nav {
  display: flex;
  gap: 10px;
}
